In [0]:
%sql
use catalog jpm;
create schema if not exists gokul;
use schema gokul;

In [0]:
df=spark.read.csv("/Volumes/jpm/gokul/1000_richest/1000_richest_people_in_the_world.csv",header=True,inferSchema=True)

df1=df.withColumnRenamed("Name","name")\
    .withColumnRenamed("Net Worth (in billions)","net_worth_in_billion")


df1.write.mode("overwrite").saveAsTable("jpm.gokul.richest_people")

In [0]:
%sql
select Country, sum(net_worth_in_billion) from jpm.gokul.richest_people
group by Country
order by Country desc