In [0]:
%sql
select * from jpm.gokul_bronze.customer_bronze limit 5

In [0]:
%sql
CREATE OR REPLACE TABLE jpm.gokul_silver.silver_transaction AS
SELECT DISTINCT
    cust_id,
    start_date,
    end_date,
    txn_id,
    date,
    year,
    month,
    day,
    expense_type,
    CAST(amt AS DECIMAL(10,2)) AS amt,
    REPLACE(city, '_', ' ') AS city
FROM jpm.gokul_bronze.transaction_bronze

In [0]:
%sql
select * from jpm.gokul_silver.silver_transaction limit 5