In [0]:
clone:
    deep
    shallow

In [0]:
%sql
select * from jpm.naval.airlines

In [0]:
%sql
create table jpm.naval.airlines_clone deep clone jpm.naval.airlines

In [0]:
%sql
create view jpm.naval.airlines_year_month as 
select Year, Month from jpm.naval.airlines_clone

In [0]:
%sql
select * from jpm.naval.airlines_year_month where month =12

In [0]:
%sql
delete from jpm.naval.airlines_clone where month = 12

In [0]:
%sql
ALTER TABLE jpm.naval.airlines_clone 
SET TBLPROPERTIES ('delta.columnMapping.mode' = 'name');

In [0]:
%sql
alter table jpm.naval.airlines_clone drop column year

In [0]:
%sql
create table jpm.naval.airlines_deep_clone deep clone jpm.naval.airlines

In [0]:
%sql
create table jpm.naval.airlines_shallow_clone shallow clone jpm.naval.airlines

In [0]:
%sql
delete from jpm.naval.airlines where month=12

In [0]:
%sql
select distinct Month from jpm.naval.airlines

In [0]:
%sql
select distinct Month from jpm.naval.airlines_deep_clone

In [0]:
%sql
select distinct Month from jpm.naval.airlines_shallow_clone

In [0]:
%sql
delete from jpm.naval.airlines_shallow_clone where month = 11

In [0]:
%sql
select count(*) from jpm.naval.airlines_shallow_clone